
html {
    box-sizing: border-box;
    font-size: 10px;
    background-image: url(https://opengameart.org/sites/default/files/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* *, *:before, *:after {
    box-sizing: inherit;
  } */
  
  body {
    margin: 5px 40px 20px 40px;
    font-family: 'Dr Kabel';
    color: antiquewhite;
  }
  
  h1 {
    text-align: center;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0;
  }
  
  h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
  }

  .score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
    margin: 40px 40px 40px 40px;
  }
  
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .hole:after {
    display: block;
    background: url(galaxy_small.jpg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:40px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }
  
  .mole {
    background: url(darkdalek.jpg) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
    
  }
  
  .hole.up .mole {
    top: 0;
  } 

#start-button {
    background: rgba(255,255,255,0.2);
    margin: 30px 50px 30px 100px;
    font-family: 'Dr Kabel';
    font-size: 3rem;
    color: antiquewhite;
  }
